body{
  background-color: antiquewhite;
}
.App {
  text-align: center;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #052363;
  border: 4px solid red;
}

h1{
  color: #fff;
}
.Todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
 

}

.pen{
  padding: .1em .2em;
  color: #fff;
}
.completed {
  text-decoration: line-through;
}

.trash{
  padding: .1em .2em;
  color: #fff;
 
}
button{
  background-color: #1658e7;
  color: #fff;
  padding: .5em 1em;
  border-color: #1658e7;
}
input{
  padding: .5em 0;
  outline: none;
}
::placeholder{
  padding: 0 .5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
form{
}

.TodoWrapper {
  padding: 2em 2em 5em 2em ;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
